.App {
  text-align: center;
  display: flex; /* Flex container */
  justify-content: center; /* Align content horizontally in center */
}

.main {
  display: grid;
  grid-template-columns: 1fr; /* Equal width columns */
  place-items: center;
}
